# Database
POSTGRES_DB=fimusic_db
POSTGRES_USER=fimusic_teamlead
POSTGRES_PASSWORD=fimusic_password
DATABASE_URL=postgresql+psycopg://fimusic_teamlead:fimusic_password@localhost:5433/fimusic_db

# Backend
SERVER_PORT=8080

# JWT
JWT_SECRET=secret_key
JWT_EXPIRATION=86400000
