# Database
POSTGRES_DB=fimusic_db
POSTGRES_USER=fimusic_teamlead
POSTGRES_PASSWORD=fimusic_password
DATABASE_URL=postgresql+psycopg://fimusic_teamlead:fimusic_password@localhost:5433/fimusic_db

# Backend
SERVER_PORT=8080

# Auth
SECRET_KEY=change-me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
